@use "sass:math";


#resources-subtitle{
  text-align: center;
  padding-bottom: var(--spacing-small);
}
.post-area_top_img-area{
    .img-container{
        height: auto;
        width: 100%;
        margin: 0px;
        .post-area_top_img {
            width:95vw;
            height: 60vh;
            margin-right: auto;
            margin-left: auto;
            border-radius: 0;
        }
        #food-science-feauture-image{
            width:100%;
            height: 60vh;
            box-sizing: content-box;
        }
    }

}




/*Bootsrap overide*/

#food-science-feature-article-text{
display:block;
text-align: center;
background-color: var(--box-color-pink);
margin-left: 0;
padding:0;
}


#recipes-science-feature-article-text{
    background-color: var(--box-color-pink);
    display:block;
    text-align: center;
}
#equipment-feature-article-text{
    background-color: var(--box-color-pink);
    display:block;
    text-align: center;
    padding-left: 10px;
}


#building-blocks{
row-gap: var(--spacing-medium);
}
#equipment-manuals{
row-gap: var(--spacing-medium);
}
#more-recipes-row{
row-gap: var(--spacing-medium);
}
#guides-row{
row-gap: var(--spacing-medium);
}



.post-area-bottom{
    .post-area-bottom_singlepost{
        margin-bottom: var(--spacing-xsmall);
        img{
            max-width: 33vw;
            height:auto;  
        }
    }

}


 .post-area-bottom-title{
    margin-top: var(--spacing-small);
    padding-top: var(--spacing-xsmall);
}

.card{
margin-right: var(--spacing-xsmall) ;
margin-left: var(--spacing-xsmall);
    img{
        height: 30vh;
        object-fit: cover;
    }

}

.single-post_card{
    text-align: center;

}



.single-post_card img{  
    height:auto;  
}






/*Contact Page Styles*/

#contac-form-wrapper{
    background-color: var(--alternate-color);
    color:var(--primary-color);
    fieldset{
        padding-bottom: var(--spacing-medium);
    }   
}


@media screen and (min-width: 768px), screen and (orientation: landscape) {
/*Bootsrap overide*/

    #equipment-feature-article-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        height: 65vh;
    }

    #food-science-feature-article-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        height: auto; 
    }

    #recipes-science-feature-article-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 65vh;
    }

    .post-area_top_img {
        width:100%;
        height:auto;
    }


    

    #building-blocks{
    padding-left: var(--spacing-xsmall);
    padding-right: var(--spacing-xsmall);
    padding-top: var(--spacing-medium);
    padding-bottom:var(--spacing-small);
    background-color: var(--box-color-grey);
    }
    #equipment-manuals{
    padding-left: var(--spacing-xsmall);
    padding-right: var(--spacing-xsmall);
    }
    #more-recipes-row{
    padding-left: var(--spacing-xsmall);
    padding-right: var(--spacing-xsmall);
    padding-top: var(--spacing-medium);
    padding-bottom:var(--spacing-small);
    background-color: var(--box-color-grey);
    }
    #guides-row{
     padding-left: var(--spacing-xsmall);
     padding-right: var(--spacing-xsmall);
     padding-top: var(--spacing-medium);
     padding-bottom:var(--spacing-small);
     background-color: var(--box-color-grey);
    }

    #resources-subtitle{
        text-align: start;
        padding-bottom: var(--spacing-small);
        padding-left: var(--spacing-small);
        background-color: var(--box-color-grey);
        padding-top:var(--spacing-small) ;
      }

    

}


#contact-form{
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);

}

