


/* Map para propiedades globales */

$style-colors:(primaryColor:#FFF7EA, alternateColor:#0A0908, hoverColor:#C68300, footerColor:#EAE9E9, boxBgPin: #ECE0DC, boxBgGrey: #EAE9E9, fontDarkColor: #0A0908, fontGreyColor: #C8C8C7, formBgColor:#353534) ;
$style-mobileFontSizes:(textXLarge:3.2rem, textLarge:3rem, textMedium:2.1rem, textBase:1.8rem, textSmall:1.4rem);
$style-fontSizes:(textXLarge:4rem, textLarge:3.8rem, textMedium:3.2rem, textBase:1.9rem, textSmall:1.4rem);
$style-spacings:(spacingXLarge:6rem, spacingLarge:2.4rem, spacingMedium:2.2rem, spacingSmall:2rem, spacingXSmall:1rem);



/*Extend usado para cambiar el estilo de los formularios de la página */

%form-style {
    background-color: map-get($style-colors,formBgColor);
    color: map-get($style-colors,fontGreycolor);
}

#contact-form-wrapper{
    background-color: map-get($style-colors,alternateColor);
    color: map-get($style-colors,primaryColor);
    padding-bottom: map-get($style-spacings,spacingSmall);
    #contact-form {
        input, textarea, select, option, .form-button{
            @extend %form-style;
        }
        select{
            option{
                &:hover{
                    background-color:map-get($style-colors,fontGreycolor);
                    color:map-get($style-colors,alternateColor);
    
                }
            }
        }
        .form-button{
            padding: map-get($style-spacings ,spacingXSmall );
            font-size:var(--text-xsmall) ;
            border-radius: 10%;
            color: map-get($style-colors,primaryColor);
        }
    } 

}





/* Mix-in implementado para cambiar el estilo de todas las cards de imagenes que no estan featured o son del articulo principal de su respectiva página*/

@mixin cardImgStyle($img-height,$image-crop,$image-position ){
    height:$img-height;
    width:100%;
    object-fit:$image-crop;
    object-position:$image-position ;

}
@mixin cardImgStyle($img-height,$image-crop,$image-position ){
    height:$img-height;
    width:100%;
    object-fit:$image-crop;
    object-position:$image-position ;

}


@media screen and (min-width: 768px), screen and (orientation: landscape){

    %card-default{
        margin-right: var(--spacing-xsmall) ;
        margin-left: var(--spacing-xsmall);
        margin-bottom: var(--spacing-xsmall);
    }


    .card{
        @extend %card-default;
        img{
        @include cardImgStyle(35vh, initial, initial);
        }
        .card-image-crop{
        @include cardImgStyle(35vh, cover, 50% 60%);
        }
        
    }

    
}